[project]
	description = A tool for creating minimal docker images from dynamic ELF binaries.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Lars Kellogg-Stedman (larsks)
[access "refs/for/refs/*"]
	read = group user/Lars Kellogg-Stedman (larsks)
	push = group user/Lars Kellogg-Stedman (larsks)
	label-Code-Review = -2..+2 group user/Lars Kellogg-Stedman (larsks)
	label-Verified = -1..+1 group user/Lars Kellogg-Stedman (larsks)
	rebase = group user/Lars Kellogg-Stedman (larsks)
	removeReviewer = group user/Lars Kellogg-Stedman (larsks)
	submit = group user/Lars Kellogg-Stedman (larsks)
[access "refs/heads/*"]
	read = group user/Lars Kellogg-Stedman (larsks)
	create = group user/Lars Kellogg-Stedman (larsks)
	push = +force group user/Lars Kellogg-Stedman (larsks)
	pushMerge = group user/Lars Kellogg-Stedman (larsks)
[access "refs/tags/*"]
	push = +force group user/Lars Kellogg-Stedman (larsks)
	pushTag = group user/Lars Kellogg-Stedman (larsks)
	pushSignedTag = group user/Lars Kellogg-Stedman (larsks)
